/* ---------- Color Module Styles ----------- */
body {
  color: #7a7a7a;
  background: #1a1a1a;
}

a,
li a.active,
#footer a:hover,
#footer li a.active:hover,
#footer-bottom a:hover,
#footer-bottom li a.active:hover,
#header a,
#header-menu ul.menu li a:hover,
#header-menu ul.menu li a.active,
#header-menu ul.menu li ul.menu li a:hover {
  color: #1487d4;
}

#header-menu a,
#header-menu ul.menu li a {
  color: #ffffff;
}

#footer a,
#footer li a.active,
#footer-bottom a,
#footer-bottom li a.active {
  color: #e4e4e4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1487d4;
  text-shadow: 1px 1px 1px #eaf1ea;
}

#header-menu {
  background: #222222;
  border-top: 1px solid #353535;
  border-bottom: 1px solid #353535;
}

#header-menu ul.menu li.expanded ul.menu {
  background: #222222;
}

#header-menu ul.menu li.expanded ul.menu li a,
#footer .block ul.menu li a {
  border-bottom: 1px solid #353535;
}

#header-menu ul.menu li ul.menu li a:hover,
#header-menu ul.menu li.expanded ul.menu li.expanded a:hover,
#header-menu ul.menu li.expanded ul.menu li.leaf a:hover {
  background-color: #1b1b1b;
}

#content {
  background: #e8e8e8;
}

.Collapsible {
  /*border: 3px solid black;*/
  background-color: #fdfdfd;
  color: #7a7a7a;
  font-size: 26px;
  text-align: center;
}

/*body {
  font: 0.8em/165% "Lucida Grande", "Lucida Sans Unicode", Segoe UI, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 0;
  outline: 0 none;
  vertical-align: baseline;
}*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Myriad Pro, "Lucida Grande", "Lucida Sans Unicode", Segoe UI,
    Helvetica, Arial, sans-serif;
}

#header-menu {
  clear: both;
}

/* 
* Main-menu 
*/
/* 1st Level */
#header-menu ul.menu {
  display: block;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 100;
}

#header-menu ul.menu li {
  display: inline-block;
  float: left;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

#header-menu ul.menu li a {
  outline: none;
  text-decoration: none;
  margin: 0 25px 0 0;
  padding: 10px 5px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  font-family: Myriad Pro, "Lucida Grande", "Lucida Sans Unicode", Segoe UI,
    Helvetica, Arial, sans-serif;
  display: block;
}

#header-menu ul.menu li.first a {
  padding-left: 0;
}

#header-menu ul.menu li.last a {
  padding-right: 0;
}

#header-menu ul.menu li a:hover,
#header-menu ul.menu li a.active {
  color: #1487d4;
}

#header-menu ul.menu li a:after {
  content: none;
}

#header-menu ul.menu li.expanded {
  position: relative;
}

#header-menu ul.menu li.expanded a {
  padding: 10px 15px 10px 10px;
}

/* 2nd Level */
#header-menu ul.menu li.expanded ul.menu {
  z-index: 100;
  padding: 0;
  display: none;
  position: absolute;
}

#header-menu ul.menu li.expanded:hover,
#header-menu ul.menu li.expanded:hover > ul.menu {
  display: block;
}

#header-menu ul.menu li.expanded ul.menu li a {
  padding: 10px;
  margin: 0;
  display: block;
  width: 210px;
  text-align: left;
  line-height: 130%;
  background: none;
  font-size: 12px;
}

#header-menu ul.menu li ul.menu li a:hover {
  background: #1b1b1b;
  color: #1487d4;
}

#header-menu ul.menu li.expanded ul.menu li.leaf a:hover {
  background: #1b1b1b;
}

/* 3rd, 4th, 5th, (...) level  */
#header-menu ul.menu li.expanded ul ul {
  display: none;
  left: 230px;
  top: 0;
  padding: 0;
}

/*  
* Tables
*/

table th {
  background: #222222;
  color: #ffffff;
  font-weight: bold;
}

/*
* Forms
*/
label {
  font-weight: bold;
}

input.form-text.error {
  border: 2px solid red;
}

a {
  text-decoration: none;
}

user agent stylesheet div {
  display: block;
}

#header-menu ul.menu li a,
.nolink {
  font-size: 14px !important;
}
textarea {
  height: 100px;
}

/* TODO check */
input[type="submit"].form-disabled,
input[type="submit"].form-button-disabled {
  background: darkgray !important;
}
.braintree-field {
  background: #e8e8e8;
  border: 1px solid #f2f2f2;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Segoe UI, Helvetica,
    Arial, sans-serif;
  height: 25px;
  line-height: 25px;
  margin: 0 0 10px 0;
  padding: 5px;
  width: 80%;
  color: #5f6a5f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 3px #bcbcbc inset;
  -moz-box-shadow: 0px 2px 3px #bcbcbc inset;
  box-shadow: 0px 2px 3px #bcbcbc inset;
}
#card-number,
#expiration-date {
  display: inline-block;
}
#card-number {
  width: 20%;
  min-width: 200px;
}
#cvv {
  width: 5%;
  min-width: 50px;
}
#expiration-date {
  min-width: 50px;
  width: 5%;
  margin-left: 5%;
}

#social-media {
  display: flex;
  justify-content: space-around;
  flex-shrink: 1;
  background-color: lightblue;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.sm-ic {
  display: inline-block;
  height: 32px;
  background-color: #fff;
}
.covid-link {
  font-size: 0.8rem;
  width: 10rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  text-shadow: 0 1px 1px #003547;
  background-image: -webkit-linear-gradient(top, #0093c5 0%, #0079a2 100%);
  box-shadow: 0px 1px 2px #939da2;
}
.covid-link a {
  color: #fff;
  text-decoration: none;
}
.covid-link a:hover {
  color: #fff;
  text-decoration: none;
}
