#header-menu ul.menu {
  margin-left: 10px;
  margin-right: 10px;
}

/* TODO figure out where calendar is? */
.calendar-calendar .has-events {
  background-color: #77dd77;
}
#header-menu ul.menu li a,
.nolink {
  font-size: 16px;
}
#header-menu ul.menu li a:hover,
#header-menu ul.menu li ul.menu li a:hover,
#header-menu ul.menu li.expanded ul.menu li.leaf a:hover {
  background-color: #fff;
}
#header-menu ul.menu {
  margin-left: 0px;
  margin-right: 0px;
}
#header-menu ul.menu li.last a {
  padding-right: 5px;
}
#header-menu ul.menu li.first a {
  padding-left: 5px;
}
.nolink {
  outline: none;
  text-decoration: none;
  margin: 0 25px 0 0;
  padding: 10px 5px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  font-family: Myriad Pro, "Lucida Grande", "Lucida Sans Unicode", Segoe UI,
    Helvetica, Arial, sans-serif;
  display: block;
  color: #fff;
}
.nolink:hover {
  background-color: #fff;
  color: #1487d4;
}
#header-menu ul.menu li.expanded ul.menu li a {
  border: none;
}
.expanded ul li {
  background-image: linear-gradient(black, gray);
}
#header-menu ul.menu li.expanded:hover {
  display: inline-block;
}
